doctype html
html
  head
    title Lets talk about ... Template
    meta(charset="utf-8")
    link(href="styles.styl"  rel="stylesheet" type="text/css")
  body
    section.slides.layout-regular.template-default
      article
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/pt/podcast/wolfgang-wee-uncut/id1458178464"></iframe>
      article
        img.bg(src="assets/memes/philosoraptor.jpg")
        h1 Background Image
      article
        img.bg.cover(src="assets/memes/philosoraptor.jpg")
        h1 Cover Image
      article
        ul
          li Inline Image
          li
            img(src="assets/memes/like-a-boss.jpg")
      article
        h2 List
        ul.build
          li 1.
          li 2.
          li 3.
          li 4.
      article
        h2 Code
        pre
          | const code = 'without line numbers';
        pre.linenums
          | const code = 'with line numbers';
      article
        h2 Code with highlights
        pre.linenums.h1
          | const line1 = 'normal'
          | const line2 = 'highlight'
          | const line3 = 'normal'
      article.section
        h1 New Section
      article
        ul
          li
            em Emphasis
          li
            i Italic
          li Inline <em>Emphasis</em> and <i>Italic</i>
          li
            a(href="#") Link
      article
        video(src="#" loop controls)

    script(src="main.js")
